<template>
  <q-page padding>
    <h4>Cadastro de pessoas</h4>
    <div>
      <div>Filtros</div>
      <div>
        <router-link :to="{name: 'pessoa-formulario'}">
          <q-btn label="Adicionar" color="primary" />
        </router-link>
      </div>
    </div>
    <div>
      <q-table
        :data="dataTablePessoas.tableData"
        :columns="dataTablePessoas.columns"
        row-key="id"
        :rows-per-page-options ="[5, 10,20, 30,50,100,0]"
        :pagination.sync="dataTablePessoas.pagination"
        loading-label = "Carregando dados...">
        <q-tr slot="body" slot-scope="props" :props="props">
          <q-td key="id" :props="props">{{props.row.id}}</q-td>
          <q-td key="nome" :props="props">{{props.row.nome}}</q-td>
          <q-td key="acoes">
            <q-btn round icon="edit" flat color="grey-6" @click.native="editar(props.row.id)"/>
            <q-btn round icon="delete" flat color="grey-6" @click.native="excluir(props.row.id)"/>
          </q-td>
        </q-tr>
      </q-table>
    </div>
  </q-page>
</template>

<script>
import apiConfig from '../../config/apiConfig' 

export default {
  // name: 'PageName',
  data() {
    return {
      filtroPessoa: {
        codigo: null,
        nome: null,
        nascimento: null,
        sexo: null
      },
      dataTablePessoas: {
        pagination: {
        sortBy: null,
        descending: false,
        page: 1,
        rowsPerPage: 5
        },
        columns: [
          {
            name: 'id',
            required: true,
            label: 'Código',
            align: 'left',
            field: 'id',
            sortable: true
          },
          {
            name: 'nome',
            required: true,
            label: 'Nome',
            align: 'left',
            field: 'nome',
            sortable: true
          },
          {
            name: 'acoes',
            align: 'right'
          }
        ],
        tableData: []
      }      
    }
  },
  methods: {
    obterPessoas(params) {
      this.$axios.get('http://localhost:8085/pessoas')
      .then((response)=>{
        this.dataTablePessoas.tableData = response.data
      });
    },
  editar(id) {
     this.$router.push({name: 'pessoa-formulario', params: {id: id}});
   },
   excluir(id) {
     this.$q.dialog({
       color: 'black',
       title: 'Exclusão de pessoa',
       message: 'Deseja excluir este registro?.',
       ok: 'SIM',
       cancel: 'NÃO'
     }).then(() => {
         this.excluirDados(id);
     });
   },
   excluirDados(id) {
     this.$axios
        .delete(`http://localhost:8085/pessoas/${id}`)
     .then(response => {
         this.obterPessoas();
         this.notificarSucesso("Registro excluído com sucesso");
     })
     .catch(error => {
         this.exibirErros(error.response.data.errors);
     })
   },
   exibirErros(errorList) {
      for(let i=0; i<errorList.length; i++) {
        this.notificarErro(errorList[i].message);
      }
    },
  },
  filters: {

  },
  mounted() {
    this.obterPessoas();
  },
}
</script>

<style>
</style>
