<template>
  <q-page padding>
    <form>
      <div class="row">
      <h5>
        Cadastro de pessoas
      </h5>
      </div>
      <div class="row">
        <q-input class="col-lg-6 col-md-6 col-sd-12 col-xs-12" v-model="pessoa.nome" type="text" float-label="Nome" />
        <q-input class="col-lg-2 col-md-2 col-sd-12 col-xs-12" v-model="pessoa.rg" type="text" float-label="RG" />
        <q-select class="col-lg-2 col-md-2 col-sd-12 col-xs-12" v-model="pessoa.sexo" float-label="Sexo" :options="this.listaGeneros" />
        <q-datetime class="col-lg-2 col-md-2 col-sd-12 col-xs-12" format="YYYY-MM-DD" v-model="pessoa.nascimento" format-model="date" type="date" float-label="Nascimento" />
      </div>
      <div class="row">
          <q-input class="col-lg-2 col-md-3 col-sd-12 col-xs-12" v-model="pessoa.endereco.cep" type="text" float-label="CEP" @blur="consultarCep(pessoa.endereco.cep)"  />
          <q-input class="col-lg-1 col-md-2 col-sd-12 col-xs-12" v-model="pessoa.endereco.uf" type="text" float-label="UF" />
          <q-input class="col-lg-5 col-md-7 col-sd-12 col-xs-12" v-model="pessoa.endereco.localidade" type="text" float-label="Localidade" />        
          <q-input class="col-lg-4 col-md-8 col-sd-12 col-xs-12" v-model="pessoa.endereco.bairro" type="text" float-label="Bairro" />
      </div>
      <div class="row">
          <q-input class="col-lg-5 col-md-5 col-sd-12 col-xs-12" v-model="pessoa.endereco.logradouro" type="text" float-label="Logradouro" />
          <q-input class="col-lg-4 col-md-4 col-sd-12 col-xs-12" v-model="pessoa.endereco.complemento" type="text" float-label="Comlemento" />
          <q-input class="col-lg-3 col-md-3 col-sd-12 col-xs-12" v-model="pessoa.endereco.numero" type="text" float-label="Número" />
      </div> 
      <div class="q-mt-lg">
        <q-btn icon="save" color="primary" label="Salvar" @click="salvar()" />
      </div>

    </form>
    
  </q-page>
</template>

<script>
import { Loading, QSpinnerGears } from 'quasar'
import moment from 'moment';

export default {
  // name: 'PageName',
  data() {
    return {
      pessoa: {
        nome: null,
        endereco: {
          cep: ''
        }
      },
      listaGeneros: [
        {label: 'Masculino', value: 'M'},
        {label: 'Feminino', value: 'F'}
      ]
    }
  },
  methods: {
    buscarDados(id) {
      if(id) {
        this.$axios
        .get(`http://localhost:8085/pessoas/${id}`)
        .then(response => {
          this.pessoa = response.data;
        })
        .catch(error => {
          this.exibirErros(error.response.data.errors);
        });
      }  
    },
    salvar() {
      if (this.$route.params.id) {
       this.atualizar(this.$route.params.id); 
      } else {
       this.criar();
     }
    },
    criar() {
      this.exibirSpiner('Cadastrando pessoa');
        this.pessoa.nascimento = moment(this.pessoa.nascimento).format('YYYY-MM-DD');
        this.$axios
        .post(
          'http://localhost:8085/pessoas', 
          this.pessoa,
          {
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json',
            }
          }
        ).then((response)=>{
          Loading.hide();
          this.notificarSucesso('Pessoa cadastrada com sucesso');
          this.$router.push({name: 'pessoa-admin'});
        })
        .catch((error)=>{
          Loading.hide();
          this.exibirErros(error.response.data.errors);
        });
    },
    atualizar(id) {
      this.$axios
        .put(
          `http://localhost:8085/pessoas/${id}`, 
          this.pessoa,
          {
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json',
            }
          }
        ).then((response)=>{
          Loading.hide();
          this.notificarSucesso('Pessoa atualizada com sucesso');
          this.$router.push({name: 'pessoa-admin'});
        })
        .catch((error)=>{
          Loading.hide();
          this.exibirErros(error.response.data.errors);
        });
    },
    consultarCep(cep, ) {
      this.exibirSpiner('Consultando o CEP');
      this.$axios.get('http://localhost:8085/cep/'+cep, {
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        }
      })
      .then((response)=>{
        this.povoarEndereco(response.data);
        Loading.hide();
      }).catch((error) => {
        Loading.hide();
        this.exibirErros(error.response.data.errors);
      });
    },
    exibirErros(errorList) {
      for(let i=0; i<errorList.length; i++) {
        this.notificarErro(errorList[i].message);
      }
    },
    notificarErro(errorMessage) {
      this.$q.notify({
          color: 'negative',
          position: 'top-right',
          message: errorMessage,
          icon: 'report_problem'
      })
    },
    notificarSucesso(message) {
      this.$q.notify({
          color: 'positive',
          position: 'top-right',
          message: message,
          icon: 'face'
      });
    },
    povoarEndereco(consulta) {
      this.pessoa.endereco.cep = consulta.cep;
      this.pessoa.endereco.logradouro = consulta.logradouro;
      this.pessoa.endereco.complemento = consulta.complemento;
      this.pessoa.endereco.localidade = consulta.localidade;
      this.pessoa.endereco.uf = consulta.uf;
      this.pessoa.endereco.bairro = consulta.bairro;
    },
    exibirSpiner(message) {
       Loading.show({
        spinner: QSpinnerGears,
        message: message,
        messageColor: 'blue',
        spinnerSize: 250, // in pixels
        spinnerColor: 'white'
      });
    }
  },
  watch: {
  },
  created() {
    this.buscarDados(this.$route.params.id);
 },
}
</script>

<style>
</style>
