<template>
  <q-page padding>
    <div class="row">
      <q-btn color="secondary" icon="refresh" @click="povoarGraficos()" />
    </div>
    <div class="row">      
    
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
         <GChart
            type="PieChart"
            :data="generoChart.data"
            :options="generoChart.options"
          />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <GChart
            type="ColumnChart"
            :data="faixaEtariaChart.data"
            :options="faixaEtariaChart.options"
          />
      </div>
    </div>    
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
  data() {
    return {
      generoChart: {
        data: this.resumoGenero,
        options: {
          colors: ['#2196f3', '#a31545'],
          chart: {
            title: 'Pessoas por gênero',
          },
          legend: {
            position: 'bottom'
          },
          height: 500
        }
      },
      faixaEtariaChart: {
        data: this.resumoFaixaEtaria,
        options: {
          colors: ['#6573c3', '#2196f3', '#4dabf5'],
          chart: {
            title: 'Pessoas por faixa etária'
          },
          legend: {
            position: 'bottom'
          },
          height: 500
        }
      },
      resumoFaixaEtaria: [],
      resumoGenero: []
    }
  },
  methods: {
    obterResumoFaixaEtaria() {
      this.resumoFaixaEtaria = [];
      this.$axios.get('http://localhost:8085/dashboard/resumo-faixa-etaria')
      .then((response)=>{
        this.resumoFaixaEtaria.push([
          'Faixa etária','Quantidade'
        ]);
        for(var i=0;i<response.data.length;i++) {  
          this.resumoFaixaEtaria.push(
            [
              response.data[i][0],
              response.data[i][1]
            ]
          );
        }
      })
    },
    obterResumoSexo() {
      this.resumoGenero = [];
      this.$axios.get('http://localhost:8085/dashboard/resumo-sexo')
      .then((response)=>{
        this.resumoGenero.push([
          'Gênero','Quantidade'
        ]);
        for(var i=0;i<response.data.length;i++) {
          this.resumoGenero.push(
            [
              response.data[i].sexo,
              response.data[i].quantidade
            ]
          );
        }
      })
    },
    povoarGraficos() {
      this.obterResumoFaixaEtaria();
      this.obterResumoSexo();
    }
  },
  mounted() {
    this.povoarGraficos();
  },
  watch: {
    resumoFaixaEtaria: function() {
      this.faixaEtariaChart.data = this.resumoFaixaEtaria;
    },
    resumoGenero: function() {
      this.generoChart.data = this.resumoGenero;
    }
  }
}
</script>
<style>

</style>
